<!DOCTYPE html>
<html>
    <head>
        <title>Twotter</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="content">
            <nav>
                <a href="/">Home</a>
                <div>
                    <a href="/compose_twot">Compose Twot</a>
                </div>
            </nav>

            {% block content %}{% endblock %}
        </div>
    </body>
</html>