{% extends 'base.html' %}

{% block content %}

<h1>Sign Up</h1>

<form action='/signup' method='POST'>
    {{ form.csfr_token }}
    <fieldset>
        <legend>Enter Your Credentials</legend>

        {{ form.username.label }}
        {{ form.username }}

        {% for error in form.username.errors %}
        <p>{{error}}</p>
        {% endfor %}


        {{ form.password.label }}
        {{ form.password }}

        {% for error in form.password.errors %}
        <p>{{error}}</p>
        {% endfor %}

        {{ form.submit }}
    </fieldset>
</form>


{% endblock %}